.hero {
  background: transparent center / cover no-repeat;
  height: calc(100vh - 65px);
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  @include media-breakpoint-up(xl) {
    height: 880px;
  }

  &--dark {
    background-color: $grafitti;
  }

  &__logo {
    width: 100%;
    max-width: 375px;
    margin-bottom: to-rem(15);
    z-index: 9;
    position: relative;

    @include media-breakpoint-up(md) {
      max-width: 480px;
    }

    @include media-breakpoint-up(xxl) {
      max-width: 540px;
    }

    &-wrapper {
      position: relative;
    }

    &-shadow {
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      max-width: 430px;
  
      @include media-breakpoint-up(md) {
        display: block;
        max-width: 620px;
        top: -90px;
      }
  
      @include media-breakpoint-up(xxl) {
        max-width: 772px;
        top: -156px;
      }
    }
  }

  &__subtitle {
    color: $yellow;
    font-size: to-rem(18);
    font-weight: 400;
    margin-bottom: to-rem(30);

    @include media-breakpoint-up(xxl) {
      font-size: to-rem(20);
      margin-bottom: to-rem(40);
    }
  }
}