.ocelot-footer {
  background: black;
  color: white;
  padding-bottom: 50px;

  &__logo {
    width: 113px;
    margin-top: -10px;
    margin-bottom: 22px;
  }

  &__menu {
    li {
      font-size: to-rem(20);
      text-transform: uppercase;
      padding: 15px 22px;
      line-height: 15px;

      @include media-breakpoint-up(md) {
        padding: 0 22px;
        font-size: to-rem(16);
      }

      @include media-breakpoint-up(xxl) {
        font-size: to-rem(18);
      }

      a {
        color: white;

        &:hover {
          color: $yellow;
          text-decoration: none;
        }
      }

      &:not(:last-of-type) {
        @include media-breakpoint-up(md) {
          border-right: 1px solid #383f43;
        }
      }
    }
  }

  &__copy {
    font-size: to-rem(14);
    opacity: 0.32;

    @include media-breakpoint-up(xxl) {
      font-size: to-rem(16);
    }
  }
}
